<table class="table table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <tr *ngFor="let pd of service.list">
        <td (click)="getProduct(id)">{{pd.id}}</td>
        <td (click)="getProduct(id)">{{pd.name}}</td>
        <td (click)="getProduct(id)">{{pd.price | number : '1.2-2'}}</td>
        <td>
            <i class="fas fa-edit fa-lg" style="color:chocolate" (click)="populateForm(pd)"></i>
        </td>
        <td>
            <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.id)"></i>
        </td>
    </tr>
</table>